<?xml version="1.0" encoding="UTF-8"?>
<config>
    <robot>
        <owner_ID>qYLfxyR6LCMl5czODhiaOc3y18H2</owner_ID>
        <robot_ID>-L0FJYFVlYGMxx1WqFsQ</robot_ID>
        <accesskey>aBNZDfRjsbEs77GDjj71TjcbI6eETY2t</accesskey>
    </robot>

    <network>
        <name>network_SSID</name>
        <password>network_PASS</password>
    </network>

    <login>
        <name>example@example.com</name>
        <password>unsecurepasswd</password>
    </login>
</config>